.DS_Store
/.elpa/
/auto-save-list/*
*.~undo-tree~
/request/
/projects
/core/idiig-global-keybindings-ivy-ver.el
/.org-id-locations
/request
/dependencies/tree-sitter-langs/bin/*.dylib
/dependencies/tree-sitter-langs/*.el
/dependencies/tree-sitter-langs/*.elc
/dependencies/tree-sitter-langs/bin/BUNDLE-VERSION
/dependencies/tree-sitter-langs/queries/
/dependencies/.DS_Store
/eln-cache/
*.el#
