/.cache/*.el
/.cache
/auto-save-list/.saves-17515-Xudongs-MacBook-Air.local~
/auto-save-list/.saves-57575-Xudongs-MacBook-Air.local~
/auto-save-list/.saves-59480-Xudongs-MacBook-Air.local~
/elpa/
/.elpa/benchmark-init-20150905.938/
/.elpa/ccc-20210501.820/
/.elpa/esup-20200814.1400/
/.elpa/general-20200516.50/
/.elpa/noflet-20141102.1454/
/.elpa/org-plus-contrib-20210426/
/.elpa/pyim-20210428.2307/
/.elpa/pyim-basedict-20210311.159/
/.elpa/zetteldeft-20210409.2126/
/.elpa/projectile-20210503.738/
/.cache/
/.dap-breakpoints
/.elpa/
/.lsp-session-v1
/auto-save-list/
